@charset "utf-8";
/* CSS Document */

*{
margin: 0;
padding: 0;
text-decoration:none;
list-style:none;


}

/* slider home*/
.slider-top{
    width: 100%;
    margin-top: 86px;
}

.slider img{
    width: 100%
}

.bx-wrapper{
    border: none !important;
}

.bx-wrapper .bx-controls-direction a{
    z-index: 0 !important;
}

.tamano-logo{
	width: 70px;
}

.navbar{
	background-color: #2274A5;
	color: #E5FFDE;
}

.background-footer{
	background: #6D7573;
}
.titulo-h1{
	color: #2274A5

}
.borde-tarjeta{
	border-style: solid 2px #2274A5;
}
.boton-color{
	background-color: #F4735F;
	color: #E5FFDE;
}
.background-body{
	background-color: #E5FFDE;
}
.jumbotron-background{
	
} 
.baner1 {
    width: 100%;
    height: auto;
    
}
